body{
	color: #ffffff;
}
.container{
	display: flex;
	flex-direction: row;
	flex-wrap:nowrap;
	height: 50%;
}
.item{
	padding: 5px;
	width: 20%;
	align-self: auto ;
	height: 100%;
	box-shadow: 5px 10px 30px #888880;
}
.item-data {display: none;}
.item:hover {width: 30%;}
.item:hover .item-data{display: block;}
.Madhusai{
	background: #F34C1F;
}
.Sonam{
	background: #678CD3;
}
.Garvjeet{
	background: #872656;
}
.Sunil{
	background: #88BF94;
}
.Uthsav{
	background: #90CD66;
}