.grid-container{
  display: grid;
  grid-gap: 10px;
  background-color: #333333;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 10px;
}
.grid-container > div {
  background-color: #ffffff;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.item-1{
  grid-area: 1 / 2 / 3 / 5;
}
.item-2{
  grid-area: 3 / 3 / 5 / 5;
}
.item-3{
  grid-area: 1 / 5 / 2 / 7;
}
.item-4{
  grid-area: 2 / 5 / 3 / 7;
}